<div class="container">
  <div class="forgot__container">
    <img
      class="forgot__container__logo"
      src="../../assets/logo.png"
      alt="logo"
    />
    <div class="forgot__container__group">
      <h2 class="forgot__container__group__title">Recover your password:</h2>
      <p class="forgot__container__group__text">
        Please provide your account's email address:
      </p>
      <form
        [formGroup]="form"
        action="submit"
        (ngSubmit)="findUser()"
        class="forgot__container__group__form"
      >
        <input
          name="userEmail"
          type="text"
          formControlName="userEmail"
          class="forgot__container__group__form__input"
        />
        <button class="forgot__container__group__form__btn" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
