/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap");
@import "../node_modules/angular-notifier/styles.scss";
// variables for main colors
$primary-beige: #f0ebe3;
$secondary-beige: #e4dccf;
$primary-green: #7d9d9c;
$secondary-green: #576f72;
$background-green: #b2beb5;
$background-gray: #ececec;
$thin-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$medium-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Slab, Roboto;
}

body {
  background-color: $primary-beige;
}
