<app-navbar></app-navbar>
<table>
  <tr>
    <th>Shift start date</th>
    <th>Shift start hour</th>
    <th>Shift end hour</th>
    <th>Total Hours</th>
    <th>Hourly Wage</th>
    <th>Shift Location</th>
    <th>Shift Name</th>
    <th>Comments</th>
  </tr>
  <tr *ngFor="let item of shifts">
    <td>{{ item.date }}</td>
    <td>{{ item.startTime }}</td>
    <td>{{ item.endTime }}</td>
    <td>{{ item.totalHours }}</td>
    <td>{{ item.hourlyWage }}</td>
    <td>{{ item.workPlace }}</td>
    <td>{{ item.shiftName }}</td>
    <td>{{ item.comments }}</td>
    <td>{{ item.totalProfit }}</td>
  </tr>
</table>
