@import "../../styles.scss";
.line {
  height: 10px;
  width: 100%;
  background-color: $secondary-green;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-beige;
  border-bottom: solid 3px $primary-green;

  &__component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-beige;

    &__name {
      font-size: 14px;
      background-color: $secondary-beige;
      color: $primary-green;
      padding-right: 20px;
    }

    &__list {
      width: 300px;
      padding: 10px;
      font-size: 12px;
      list-style: none;
      display: flex;
      gap: 15px;
      background-color: $secondary-beige;

      &__element {
        &__link {
          background-color: $secondary-beige;
          text-decoration: none;
          color: $primary-green;
          transition: ease-in-out 0.5s;
          &:hover {
            padding: 10px;
            transition: 0.5s;
            scale: 1.2;
            background-color: $primary-green;
            color: $primary-beige;
            border-radius: 15px;
          }
        }
      }
    }
    &__logo {
      height: 80px;
      background-color: $secondary-beige;
      margin-right: 40px;
    }

    &__btn {
      background-color: $secondary-beige;
      border: none;
      padding: 20px;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        transition: 0.5s ease-in-out;
        scale: 1.2;
      }

      &__icon {
        background-color: $secondary-beige;
        color: $primary-green;
      }
    }
  }
}
