<div class="register__container">
  <img
    class="register__container__logo"
    src="../../assets/logo.png"
    alt="logo"
  />
  <div class="register__container__group">
    <h3 class="register__container__title">Register</h3>
  </div>

  <h3 class="register__container__sub__title">- admin -</h3>

  <form
    [formGroup]="form"
    class="register__container__form"
    action="submit"
    (ngSubmit)="registerUserDb(form)"
  >
    <div class="register__container__form__group">
      <input
        type="email"
        class="register__container__form__group__input"
        placeholder="Email Address..."
        #email
        formControlName="email"
        name="email"
        id="email"
        required
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="text"
        class="register__container__form__group__input"
        placeholder="First Name..."
        #firstName
        required
        formControlName="firstName"
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="text"
        class="register__container__form__group__input"
        placeholder="Last Name..."
        #lastName
        required
        formControlName="lastName"
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="number"
        class="register__container__form__group__input"
        placeholder="Age.."
        #age
        required
        formControlName="age"
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="password"
        class="register__container__form__group__input"
        placeholder="Password..."
        #password
        required
        formControlName="password"
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="text"
        class="register__container__form__group__input"
        placeholder="Admin Token..."
        #adminToken
        required
        formControlName="adminToken"
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="submit"
        class="register__container__form__group__btn"
        value="Register"
        (click)="authAdminService.RegisterAdmin(email.value, password.value)"
      />
    </div>
    <div class="register__container__form__group">
      <span class="register__container__form__group__or">OR</span>
    </div>
    <div class="register__container__form__group">
      <button
        type="button"
        class="register__container__form__group__google"
        (click)="authAdminService.GoogleAuth()"
      >
        Register with Google
        <img
          class="google-icon"
          src="../../assets/google_icon.png"
          alt="google_icon"
        />
      </button>
    </div>
  </form>
  <button
    type="button"
    class="register__container__redirect"
    (click)="authAdminService.redirectAdminRegister()"
  >
    Already have an account? Login here!
  </button>
</div>
