@import "../../styles.scss";

.shifts__table {
  &__element {
    width: 315px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $background-gray;
    padding: 20px;
    border: 2px solid $primary-green;
    border-radius: 15px;
    box-shadow: $thin-box-shadow;

    &__title {
      color: $primary-green;
      font-size: 17px;
    }

    &__data {
      font-size: 14px;
      font-weight: 200;
    }
  }
}
