<div class="register__container">
  <img
    class="register__container__logo"
    src="../../assets/logo.png"
    alt="logo"
  />
  <div class="register__container__group">
    <fa-icon [icon]="faAddressCard"></fa-icon>
    <h3 class="register__container__title">Register</h3>
  </div>

  <form class="register__container__form" action="submit">
    <div class="register__container__form__group">
      <input
        type="email"
        class="register__container__form__group__input"
        placeholder="Email Address..."
        #email
        required
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="password"
        class="register__container__form__group__input"
        placeholder="Password..."
        #password
        required
      />
    </div>
    <div class="register__container__form__group">
      <input
        type="submit"
        class="register__container__form__group__btn"
        value="Register"
        (click)="authService.Register(email.value, password.value)"
      />
    </div>
    <div class="register__container__form__group">
      <span class="register__container__form__group__or">OR</span>
    </div>
    <div class="register__container__form__group">
      <button
        type="button"
        class="register__container__form__group__google"
        (click)="authService.GoogleAuth()"
      >
        Register with Google
        <img
          class="google-icon"
          src="../../assets/google_icon.png"
          alt="google_icon"
        />
      </button>
    </div>
  </form>
  <button
    type="button"
    class="register__container__redirect"
    (click)="authService.redirectLogin()"
  >
    Already have an account? Login here!
  </button>
</div>
