<div class="form-container">
  <form action="submit" [formGroup]="form" (ngSubmit)="registerAdmin(form)">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" formControlName="first_name" />

    <div
      *ngIf="
        form.controls['first_name'].invalid &&
        form.controls['first_name'].touched
      "
      class="error"
    >
      First Name is required
    </div>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" formControlName="last_name" />

    <div
      *ngIf="
        form.controls['last_name'].invalid && form.controls['last_name'].touched
      "
      class="error"
    >
      Last Name is required
    </div>

    <label for="email_address">Email Address:</label>
    <input type="email" name="email_address" formControlName="email_address" />

    <div
      *ngIf="
        form.controls['email_address'].invalid &&
        form.controls['email_address'].touched
      "
      class="error"
    >
      Email Address is required
    </div>

    <label for="password">Password:</label>
    <input type="password" name="password" formControlName="password" />

    <div
      *ngIf="
        form.controls['password'].invalid && form.controls['password'].touched
      "
      class="error"
    >
      Password is required
    </div>
    <label for="admin_token">Admin token:</label>
    <input type="text" name="admin_token" formControlName="admin_token" />
    <div
      *ngIf="
        form.controls['admin_token'].invalid &&
        form.controls['admin_token'].touched
      "
      class="error"
    >
      Admin token is required
    </div>

    <button type="submit">Submit</button>
  </form>
  <button type="button">Already have an account! Proceed to Login page.</button>
</div>
